# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
coverage/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Docker local data
docker/pgdata/

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Environment variables (exceto .env.test que é necessário)
.env
.env.local
.env.production

# Git
.git
.gitignore