node_modules
# Keep environment variables out of version control
.env
.env.sonar
dist

logs/combined.log
logs/error.log
logs/info.log

coverage
temp

# SonarQube
.scannerwork/
eslint-report.json
sonar-report.json
*.log

docker/*